<section class="ecocart-story">
    <div class="container">
        <div class="dot-title">
            <h3>{{ pre_title }}</h3>
        </div>
        <div class="ecocart-story__row">
            <div class="ecocart-story__left-col">
                <div class="ecocart-story__left-title">{{ left_title }}</div>
                <div class="ecocart-story__left-content">
                    {{ left_content|apply_filters('the_content') }}
                </div>
                <div class="ecocart-story__left-link">
                    <a class="arrow-link arrow-link--green" href="{{ link.url }}">{{ link.title }}</a>
                </div>
            </div>
            <div class="ecocart-story__right-col">
                <div class="ecocart-story__right-content">
                    {{ right_content|apply_filters('the_content') }}
                </div>
                <div class="ecocart-story__user-row">
                    <div class="ecocart-story__user-avatar">
                        <img
                            class="lazyload"
                            src="{{ placeholderImage(65, 65) }}"
                            data-src="{{ avatar.src|resizeDynamic(65, 65) }}"
                            data-srcset="{{ avatar.src|resizeDynamic(65, 65) }} 1x, {{ avatar.src|resizeDynamic(130, 130) }} 2x"
                            data-sizes="auto"
                            alt="{{ avatar.alt|e }}"
                        />
                    </div>
                    <div class="ecocart-story__user-info">
                        <div class="ecocart-story__user-info-name">{{ name }}</div>
                        <div class="ecocart-story__user-info-role">{{ role }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>