<section class="ecocart-content-image-row">
    <div class="ecocart-content-image-row__dot-wrapper">
        <div class="container">
            <div class="ecocart-content-image-row__dot">
                <img src="{{ dot }}" alt="dot">
            </div>
            <div class="ecocart-content-image-row__dot-mobile">
                <img src="{{ dot_mobile }}" alt="dot mobile">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="ecocart-content-image-row__row">
            <div class="ecocart-content-image-row__image-col">
                {% if animation == 'none' %}
                    <img
                        class="lazyload"
                        data-src="{{ image.src }}"
                        data-sizes="auto"
                        alt="{{ image.alt|e }}"
                    />
                {% else %}
                    <div id="js-ecocart-content-image-row__{{ animation }}-animation" class="ecocart-lottie" data-animation-src="{{ animation_list[0] }}"></div>
                {% endif %}
            </div>
            <div class="ecocart-content-image-row__content-col">
                <h2>{{ title }}</h2>
                <p>{{ content }}</p>
            </div>
        </div>
    </div>
</section>